@model IpDto
<div class="modal fade" id="ipUpdateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="updateModalForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myUpdateModalLabel">Ip Güncelle</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body" id="updateModalFormModalBody">
                    <div asp-validation-summary="All" class="text-danger ml-4"></div>
                    <input asp-for="Id" id="updateID" class="form-control" type="hidden"/>
                    <input asp-for="Status" id="updateStatus" class="form-control" type="hidden"/>
                    <div class="form-group">
                        <label asp-for="RangeStart" class="control-label"></label>
                        <input asp-for="RangeStart" id="updateRangeStart" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="RangeEnd" class="control-label"></label>
                        <input asp-for="RangeEnd" id="updateRangeEnd" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="IpListType" class="control-label"></label>
                        <select id="updateIpListType" class="custom-select" asp-for="IpListType" asp-items="@Html.GetEnumSelectList<IpListType>().Select(si => { si.Text = ((IpListType)int.Parse(si.Value)).GetEnumDescription(); return si;})">
                            <option disabled selected="selected" value="">Ip Listesi Türünü Seçiniz</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="btnUpdate">Güncelle</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>