@model UserDto
@{
    Layout = "Admin/_AdminLayout";
    ViewData["Title"] = "Profili Düzenle";
}

@section Style {
    <style>
      /*------------------------------------------------------------------
          Fancybox Gallery Section   
      -------------------------------------------------------------------*/

      .gallery_section_inner .column {
          background: #fff;
          box-shadow: 0 0 13px -10px #000;
          overflow: hidden;
      }
      
      .heading_section {
          border-top: solid #1ed085 2px;
          background: #15283c;
      }
      
      .heading_section h4 {
          color: #fff;
          margin: 0;
          font-weight: 200;
          text-align: center;
          padding: 16px 0 16px;
          font-size: 15px;
      }
   </style>
    <link href="~/lib/fancybox/css/jquery.fancybox.css" rel="stylesheet"/>
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Dashboard</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="col-sm-12">
        <div class="alert  alert-success alert-dismissible fade show" role="alert">
            <span class="badge badge-pill badge-success">Success</span> You successfully read this important alert message.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="container-fluid py-5" style="background-color: #eee;">
        <div class="row">
            <div class="col-lg-4">
                <!-- User Card Summary-->
                @await Component.InvokeAsync("UserSummaryCard", new { userId = Model.Id })
                <!-- User Card Summary-->
                <!-- UserImage Card-->
                @await Component.InvokeAsync("UserImageCard", new { userId = Model.Id })
                <!-- UserImage Card-->
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <h2>Kullanıcı Güncelle</h2>
                    </div>
                    <div class="card-body">
                        <form asp-controller="Account" asp-action="EditProfile" method="post">
                            <div class="form-group row offset-3 col-9 text-danger" asp-validation-summary="All">
                            </div>
                            <input type="hidden" asp-for="Id" class="form-control"/>
                            <div class="form-group row">
                                <label asp-for="FirstName" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input asp-for="FirstName" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="LastName" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input asp-for="LastName" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="GenderType" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    @foreach (var item in Enum.GetValues(typeof(GenderType)).OfType<GenderType>())
                                    {
                                        <label>
                                            <input type="radio" asp-for="GenderType" value="@Convert.ToInt32(item)" checked="@(item == Model?.GenderType)"/>
                                            @item.GetEnumDescription()
                                        </label>
                                    }
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="UserName" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input asp-for="UserName" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="UserIdendityNo" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input asp-for="UserIdendityNo" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="PhoneNumber" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input asp-for="PhoneNumber" id="userphonemasc" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Email" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input type="email" asp-for="Email" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="DateOfBirth" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input asp-for="DateOfBirth" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Note" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <textarea asp-for="Note" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-sm-3 col-sm-9">
                                    <input type="submit" value="Kaydet" class="btn btn-info"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- .content -->

@section Scripts {
    <script src="~/lib/inputmask/jquery.inputmask.min.js"></script>
    <script src="~/lib/fancybox/js/jquery.fancybox.min.js"></script>
    <script src="~/admin/js/userimage/userimage.js" asp-append-version="true"></script>
    <script asp-append-version="true">
            var app = app || {};
            app.Urls = app.Urls || {};
            app.ToastMessages = app.ToastMessages || {};
    </script>
    <script src="~/admin/js/account/account.js" asp-append-version="true"></script>
}