@model ForgetPassDto
@{
    Layout = "Account/_AccountLayout";
    ViewBag.Title = "Parolamı Unuttum";
}

<div class="login-form">
    <form asp-area="Admin" asp-controller="Account" asp-action="ForgetPass" method="post" class="border border-2 p-2">
        <div asp-validation-summary="All" class="text-danger ml-4"></div>
        <div class="form-group row">
            <label asp-for="Email" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input type="email" asp-for="Email" class="form-control" autocomplete="email"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
                <input type="submit" value="Gönder" class="btn btn-info btn-flat m-b-15"/>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    <script src="~/lib/inputmask/jquery.inputmask.min.js"></script>
    <script asp-append-version="true">
            var app = app || {};
            app.ToastMessages = app.ToastMessages || {};
            app.Urls = app.Urls || {};
            app.ToastMessages.emailSendMessage = '@TempData["EmailSendStatus"]';
    </script>
    <script src="~/admin/js/account/account.js" asp-append-version="true"></script>
}