<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Tüm Kategoriler</span>
                    </div>
                    <ul>
                        <li>
                            <a href="#">Son 24 Saat / 48 Saat</a>
                        </li>
                        <li>
                            <a href="#">Acil İlanlar</a>
                        </li>
                        <li>
                            <a href="#">Fiyatı Düşenler</a>
                        </li>
                        <li>
                            <a href="#">Otomobil</a>
                        </li>
                        <li>
                            <a href="#">Arazi, SUV, Pick-up </a>
                        </li>
                        <li>
                            <a href="#">Motosiklet</a>
                        </li>
                        <li>
                            <a href="#">Minivan & Panelvan</a>
                        </li>
                        <li>
                            <a href="#">Ticari Araç</a>
                        </li>
                        <li>
                            <a href="#">Kiralık Araçlar</a>
                        </li>
                        <li>
                            <a href="#">Hasarlı Araçlar</a>
                        </li>
                        <li>
                            <a href="#">Traktör</a>
                        </li>                        
                        <li>
                            <a href="#">Tarım & İş Makineleri</a>
                        </li>                        
                        <li>
                            <a href="#">Elektrikli Araçlar</a>
                        </li>                        
                        <li>
                            <a href="#">ATV & UTV</a>
                        </li>                   
                        <li>
                            <a href="#">Karavan</a>
                        </li>                      
                        <li>
                            <a href="#">Engelli Aracı</a>
                        </li>                        
                        <li>
                            <a href="#">Modifiyeli Arabalar</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <input type="text" placeholder="Kelime,Galeri adı veya İlan No İle Ara">
                            <button type="submit" class="site-btn">Ara</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+90 850 00 00</h5>
                            <span>Müşteri Hizmetleri</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>