@model List<RoleAssignDto>

@{
    Layout = "Admin/_AdminLayout";
    ViewBag.Title = "Rol Atama";
}
<div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li class="active">Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
                <div class="col-sm-12">
                    <div class="alert  alert-success alert-dismissible fade show" role="alert">
                        <span class="badge badge-pill badge-success">Success</span> You successfully read this important alert message.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>

        <div class="container">
            <div class="col-sm-6">
            <form asp-area="Admin" asp-controller="Role" asp-action="RoleAssign" method="post">
                <div class="table table-responsive">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>
                            </th>
                            <th>
                                Role Name
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td><input type="checkbox" asp-for="@Model[i].HasAssign"/> </td>
                                <td>
                                    @Model[i].RoleName
                                    <input type="hidden" asp-for="@Model[i].RoleId"/>
                                    <input type="hidden" asp-for="@Model[i].RoleName"/>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td colspan="2">
                                <button type="submit" class="btn btn-success">Rol Ata</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
    </div> <!-- .content -->
    