@model AddressDto
@{
    Layout = "Admin/_AdminLayout";
    ViewBag.Title = "Adres Güncelle";
}

@section Style {
    <style>
      /*------------------------------------------------------------------
          Fancybox Gallery Section   
      -------------------------------------------------------------------*/
      
      .gallery_section_inner .column {
          background: #fff;
          box-shadow: 0 0 13px -10px #000;
          overflow: hidden;
      }
      
      .heading_section {
          border-top: solid #1ed085 2px;
          background: #15283c;
      }
      
      .heading_section h4 {
          color: #fff;
          margin: 0;
          font-weight: 200;
          text-align: center;
          padding: 16px 0 16px;
          font-size: 15px;
      }
      .select2 {
        width:100% !important;
      }
   </style>
    <link href="~/lib/fancybox/css/jquery.fancybox.css" rel="stylesheet"/>
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet"/>
    <!-- <link href="~/lib/select2/css/select2-bootstrap4.css" rel="stylesheet"/>-->
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Dashboard</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="col-sm-12">
        <div class="alert  alert-success alert-dismissible fade show" role="alert">
            <span class="badge badge-pill badge-success">Success</span> You successfully read this important alert message.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="container-fluid py-5" style="background-color: #eee;">
        <div class="row">
            <div class="col-lg-4">
                <!-- User Card Summary-->
                @await Component.InvokeAsync("UserSummaryCard", new { userId = Model.UserId })
                <!-- User Card Summary-->
                <!-- UserImage Card-->
                @await Component.InvokeAsync("UserImageCard", new { userId = Model.UserId })
                <!-- UserImage Card-->
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <h2>Adres Güncelle</h2>
                    </div>
                    <div class="card-body">
                       <form asp-area="Admin" asp-controller="Address" asp-action="UpdateAddress" method="post" id="updateAddressForm" class="addressForm">
                            <div class="form-group row offset-3 col-9 text-danger" asp-validation-summary="All">
                            </div>
                            <input type="hidden" asp-for="Id"/>
                            <div class="form-group row">
                                <label asp-for="FirstName" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input asp-for="FirstName" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="LastName" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input asp-for="LastName" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Email" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input asp-for="Email" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="PhoneNumber" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input asp-for="PhoneNumber" id="phonemasc" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="AddressTitle" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input asp-for="AddressTitle" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="AddressType" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <select id="addressType" class="custom-select" asp-for="AddressType"
                                            asp-items="@Html.GetEnumSelectList<AddressType>().Select(si => { si.Text = ((AddressType)int.Parse(si.Value)).GetEnumDescription(); return si;})">
                                        <option disabled selected="selected" value="">Adres Tipi Seçiniz</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="CityId" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <select id="cityId" asp-for="CityId" class="custom-select" asp-items="Model.Cities">
                                        <option selected="selected" value="">İl Seçiniz</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="DistrictId" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <select id="districtId" class="custom-select" asp-for="DistrictId" asp-items="Model.Districts">
                                        <option selected="selected" value="">İlçe Seçiniz</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="NeighborhoodOrVillageId" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <select id="neighborhoodOrVillageId" class="custom-select" asp-for="NeighborhoodOrVillageId" asp-items="Model.NeighborhoodsOrVillages">
                                        <option selected="selected" value="">Mahalle ya da Köy Seçiniz</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="StreetId" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <select id="streetId" class="custom-select" asp-for="StreetId" asp-items="Model.Streets">
                                        <option selected="selected" value="">Cadde ya da Sokak Seçiniz</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="PostalCode" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input type="number" asp-for="PostalCode"  class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="AddressDetails" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <textarea asp-for="AddressDetails" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Note" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <textarea asp-for="Note" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="DefaultAddress" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input asp-for="DefaultAddress" class="mt-3"/>
                                </div>
                            </div>
                            <input type="hidden" asp-for="UserId" id="userId" data-userId="@Model.UserId" class="form-control"/>
                            <div class="form-group row">
                                <div class="offset-sm-3 col-sm-9">
                                    <input type="submit" value="Güncelle" id="btnUpdate"  class="btn btn-info btn-sm"/>
                                    <a asp-area="Admin" asp-controller="Address" asp-action="DetailAddress" asp-route-addressId="@Model.Id" class="btn btn-danger btn-sm">İptal</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- .content -->

@section Scripts {
    <script src="~/lib/inputmask/jquery.inputmask.min.js"></script>
    <script src="~/lib/fancybox/js/jquery.fancybox.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/admin/js/userimage/userimage.js" asp-append-version="true"></script>
    <script asp-append-version="true">
            var app = app || {};
            app.Urls = app.Urls || {};
            app.ToastMessages = app.ToastMessages || {};
    </script>
    <script src="~/admin/js/address/address.js" asp-append-version="true"></script>
}