@model ETrade.Application.DTOs.EditPasswordDto
<div class="modal fade" id="editPasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="editPasswordModalForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="editPasswordModalLabel">Şifre Güncelle</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body" id="editPasswordModalFormModalBody">
                    <div asp-validation-summary="All" class="text-danger ml-4"></div>
                    <input type="hidden" asp-for="Id"  class="form-control"/>
                    <input type="hidden" asp-for="UserName"  class="form-control"/>
                        <div class="form-group row">
                            <div class="col-sm-8 offset-sm-4">
                                <span class="badge badge-pill badge-danger" style="font-size: 16px;">@Model.UserName</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="NewPassword" class="col-sm-4 col-form-label"></label>
                            <div class="col-sm-8">
                                <input type="password" asp-for="NewPassword" class="form-control" autocomplete="on"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="ReNewPassword" class="col-sm-4 col-form-label"></label>
                            <div class="col-sm-8">
                                <input type="password" asp-for="ReNewPassword" class="form-control" autocomplete="off"/>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="btnEditPassword">Güncelle</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>