@model RoleDto
<div class="modal fade" id="roleDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form id="deleteModalForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myDeleteModalLabel">Rol Sil</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body" id="deleteModalFormModalBody">
                    <div asp-validation-summary="All" class="text-danger ml-4"></div>
                    <div class="form-group">
                        <input asp-for="Id" id="deleteID" class="form-control" type="hidden"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" id="deleteName" class="form-control"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <label class="text-danger" id="lbldeletealert">Rolü Gerçekten Silmek istiyormusunuz?</label>
                    <button type="submit" class="btn btn-danger" id="btnDelete">Sil</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </form>
    </div>
</div>